<h1 class="text-center pb-4">Huddle-Hub</h1>

<ul class="pb-3 flex items-center justify-center space-x-6 shadow-sm">
  <button>Graphics & Design</button>
  <button>Digital Marketing</button>
  <button>Music & Audio</button>
  <button>Programming & Tech</button>
</ul>



<div class="gap-y-10 px-5 py-3 grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-1 gap-8 md:grid-cols-2 auto-cols-max items-stretch">
  <% 30.times do %>
    <div class="text-white max-w-sm rounded overflow-hidden shadow-lg projectcard">
      <div class="px-6 py-4">
        <div class="Project justify-center pb-3 font-bold">Project 1</div>
        <p class="text-gray-700 text-base">
          If you are looking for top-notch Twitter Promotion for your business or for yourself look no further. Being affiliated with numerous people can bestow some marvelous opportunities leading to an establishment of authority figure in your market.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Status</span>
          <ul class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
          <button>Join</button>
      </div>
    </div>
  <% end %>
</div>

<div class="container mx-auto">
  <h1>Project Name</h1>
  <p>Description</p>
</div>
